Tela de login

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Exemplo de integração com Bootstrap</title>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-6">
                <h2>Login</h2>
                <form>
                    <div class="form-group">
                        <label for="IdInput">
                            ID de usuário
                        </label>
                        <input class="form-control" id="IdInput" aria-describedby="emailHelp"
                            placeholder="ID fo usuário">
                        <small id="emailHelp" class="form-text text-muted">
                            Descrição
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="PasswordInput">
                            Senha
                        </label>
                        <input type="password" class="form-control" id="PasswordInput" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            Lembre de mim
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="js/myscript.js"></script>

</html>