{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Monitoramento</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Nome da empresa</a>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">
                MONITORAMENTO
            </h1>
            <p class="lead">
                Dados do voo selecionado
            </p>
            <hr class="my-4">
            <p>
                Cancelar operação:
            </p>
            <a href="../../" class="btn btn-primary">
                VOLTAR
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Partida
                        </h5>
                        <p class="card-text">
                            {{vooDinamico.partida_real}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Chegada
                        </h5>
                        <p class="card-text">
                            {{vooDinamico.chegada_real}}
                        </p>
                    </div>
                </div>
            </div>


            <!-- id = models.IntegerField(primary_key=True)
            voo = models.ForeignKey(Voo, on_delete=models.CASCADE, null=False)
            status = models.ForeignKey(StatusVoo, on_delete=models.CASCADE, null=False)
            partida_real = models.DateTimeField()
            chegada_real = models.DateTimeField() -->


            <!-- TODO: ARRUMAR -->
            <!-- <div class="col-sm-6">         
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Número/código do voo de partida
                        </h5>
                        <p class="card-text">
                            {{voo.codigo_partida}}
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- TODO: ARRUMAR -->
            <!-- <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Número/código do voo de chegada
                        </h5>
                        <p class="card-text">
                            {{voo.codigo_chegada}}
                        </p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

</body>

</html>