{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Painel de Voos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                Nome da empresa
            </a>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
        <div class="alert alert-danger m-2" role="alert">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="jumbotron">
            <h1 class="display-4">
                PAINEL DE VÔOS
            </h1>
            <p class="lead">
                Data: {{date}}
            </p>
            <p class="lead">
                Hora: {{time}}
            </p>
            <hr class="my-4">
            <input class="btn btn-primary"
                   type="button"
                   value="VOLTAR"
                   onclick="location.href = '../'">
            <button class="btn btn-primary"
                    type="button" 
                    onClick="window.location.reload();">
                Atualizar
            </button>
        </div>
    </div>

    <div class="container">
        <h3 class="display-6">
            PARTIDAS
        </h3>

        <table class="table table-striped">
            <tr>
                <th>Companhia Aérea</th>
                <th>Voo</th>
                <th>Status</th>
                <th>Destino</th>
                <th>Partida Prevista</th>
                <th>Partida Real</th>
            </tr>
            {% for vooDinamico in voosDinamicosPartidas %}
                <tr>
                    <td>{{vooDinamico.voo.companhia_aerea}}</td>
                    <td>{{vooDinamico.voo.id}}</td>
                    <td>{{vooDinamico.status.titulo}}</td>
                    <td>{{vooDinamico.voo.rota.aeroporto_chegada}}</td>
                    <td>{{vooDinamico.voo.partida_prevista}}</td>
                    <td>{{ vooDinamico.partida_real }}</td>
                </tr>
            {% endfor %}
        </table>

        <hr class="my-4">

        <h3 class="display-6">
            CHEGADAS
        </h3>

        <table class="table table-striped">
            <tr>
                <th>Companhia Aérea</th>
                <th>Voo</th>
                <th>Status</th>
                <th>Origem</th>
                <th>Chegada Prevista</th>
                <th>Chegada Real</th>
            </tr>
            {% for vooDinamico in voosDinamicosChegadas %}
                <tr>
                    <td>{{vooDinamico.voo.companhia_aerea}}</td>
                    <td>{{vooDinamico.voo.id}}</td>
                    <td>{{vooDinamico.status.titulo}}</td>
                    <td>{{vooDinamico.voo.rota.aeroporto_partida}}</td>
                    <td>{{vooDinamico.voo.chegada_prevista}}</td>
                    <td>{{vooDinamico.chegada_real}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>

<script src="js/myscript.js"></script>

</html>