{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Geração de relatório</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                Nome da empresa
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">
                Gerar relatório
            </h1>
            <p class="lead">
                Preencha as configurações para gerar o relatório.
            </p>
            <hr class="my-4">
            <p>
                Confirmar operação:
            </p>
            <div class="row">
                <a href="../"
                   class="btn btn-primary"
                   style="margin-right: 10px">
                    DESCARTAR
                </a>
                <a href="preview_relatorio/"
                   class="btn btn-primary">
                    GERAR RELATÓRIO
                </a>
            </div>
        </div>
    </div>
     
    <script type="text/javascript">
    function showDiv(select){
        if(select.value==1){
            document.getElementById('hidden_div').style.display = "block";
        } else{
            document.getElementById('hidden_div').style.display = "none";
        }
    } 
    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Tipos de relatório
                        </h5>
                        <p class="card-text">
                            Escolha o tipo de relatório a ser gerado:
                        </p>

                        <select id="test"
                                name="form_select"
                                onchange="showDiv(this)">
                            <option value="0">
                                Movimentação de voos por período
                            </option>
                            <option value="1">
                                Partidas e chegadas por empresas
                            </option>
                         </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Inicio e Fim do voo
                        </h5>
                        <p class="card-text">

                            <form action="" method="post">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <td>
                                            <input id="id_inicio"
                                                   name="data_inicio"
                                                   type="text"
                                                   value="2016-11-08"
                                                   required />
                                            <br/>
                                            <span class="helptext"
                                                  style="margin-right: 10px">
                                                Data de inicio do voo (ex: 2016-11-08).
                                            </span>
                                        </td>
                                        <td>
                                            <input id="id_fim"
                                                   name="data_fim"
                                                   type="text"
                                                   value="2016-11-09"
                                                   required />
                                            <br />
                                            <span class="helptext">Data de fim do voo.</span>
                                        </td>
                                    </tr>
                                </table>
                                <input type="submit" value="Submit">
                              </form>                   
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div id="hidden_div" style="display:none;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Companhia aérea
                            </h5>
                            <p class="card-text">
                                <select id="id_companhia"
                                        name="companhia"
                                        onchange="showDiv(this)">
                                    <option value="0">
                                        0
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Tipo de voo
                            </h5>
                            <p class="card-text">
                                <select id="id_voo"
                                        name="voo"
                                        onchange="showDiv(this)">
                                    <option value="0">
                                        0
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>