{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Preview do relatório</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                Nome da empresa
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">
                Preview do relatório
            </h1>
            <p class="lead">
                Visualize o relatório a ser gerado
            </p>
            <hr class="my-4">
            <p>
                Confirmar operação
            </p>
            <div class="row">
                <input class="btn btn-primary" style="margin-right: 10px" type="button" value="VOLTAR" onclick="history.back()">
                <a href="report/"
                    class="btn btn-primary">
                    BAIXAR RELATÓRIO
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        {% if num_partidas %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Número de partidas: {{num_partidas}}
                    </h5>
                </div>
            </div>
        </div>
        <hr class="my-4">
        {% endif %}


        {% if voos_partidas %}
        <table class="table table-striped">
            <tr>
                <th>Companhia Aérea</th>
                <th>Voo</th>
                <th>Destino</th>
                <th>Partida Prevista</th>
                <th>Partida Real</th>
            </tr>
            {% for vooDinamico in voos_chegadas %}
            <tr>
                <td>{{vooDinamico.voo.companhia_aerea}}</td>
                <td>{{vooDinamico.voo.id}}</td>
                <td>{{vooDinamico.voo.rota.aeroporto_chegada}}</td>
                <td>{{vooDinamico.voo.partida_prevista}}</td>
                <td>{{vooDinamico.partida_real}}</td>
            </tr>
            {% endfor %}
        </table>
        <hr class="my-4">
        {% endif %}


        {% if num_chegadas %} 
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Número de chegadas: {{num_chegadas}}
                    </h5>
                </div>
            </div>
        </div>
        <hr class="my-4">
        {% endif %}


        {% if voos_chegadas %}
        <table class="table table-striped">
            <tr>
                <th>Companhia Aérea</th>
                <th>Voo</th>
                <th>Origem</th>
                <th>Chegada Prevista</th>
                <th>Chegada Real</th>
            </tr>
            {% for vooDinamico in voos_chegadas %}
            <tr>
                <td>{{vooDinamico.voo.companhia_aerea}}</td>
                <td>{{vooDinamico.voo.id}}</td>
                <td>{{vooDinamico.voo.rota.aeroporto_partida}}</td>
                <td>{{vooDinamico.voo.chegada_prevista}}</td>
                <td>{{vooDinamico.chegada_real}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <!-- {% if voo_data %}
            {% for voo in voo_data %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Companhia: {{voo}}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %} -->
    </div>

</body>

<script src="js/myscript.js"></script>

</html>