{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Geração de relatório</title>
</head>

<body>
    <!-- {% include 'messages.html' %} -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                Nome da empresa
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">
                Gerar relatório
            </h1>
            <p class="lead">
                Preencha as configurações para gerar o relatório.
            </p>
            <hr class="my-4">
            <div class="row">
                <input class="btn btn-primary" style="margin-right: 10px" type="button" value="DESCARTAR" onclick="location.href = '../'">
            </div>
        </div>
    </div>
     
    <script type="text/javascript">
        function showDiv(select){
            if(select.value==1){
                document.getElementById('hidden_div').style.display = "block";
            } else{
                document.getElementById('hidden_div').style.display = "none";
            }
        } 
    </script>

    <div class="container">
        <form action = "" method = "post">
            {% csrf_token %}
            {{form.as_p }}
            <input type="submit" value="Gerar Relatório">
        </form>
        {% if messages %}
        <div class="alert alert-danger m-2" role="alert">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

        <!-- <hr class="my-4">

        <div id="hidden_div" style="display:none;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Companhia aérea
                            </h5>
                            <p class="card-text">
                                <select id="id_companhia"
                                        name="companhia">
                                    <option value="0">
                                        0
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Tipo de voo
                            </h5>
                            <p class="card-text">
                                <select id="id_voo"
                                        name="voo">
                                    <option value="0">
                                        0
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div> -->

</body>
</html>