 <!-- <a class="btn btn-primary" href="/admin-url">Useradministration</a> -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Visualização e deleção de voo</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                Nome da empresa
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">
                Visualização do voo
            </h1>
            <p class="lead">
                Dados do voo selecionado.
            </p>
            <hr class="my-4">
            <p>
                Escolha uma operação:
            </p>
            <div class="row">
                <a href="../../"
                    class="btn btn-primary"
                    style="margin-right: 10px">
                    VOLTAR
                </a>
                <a href="../../update/{{voo.id}}/"
                    class="btn btn-primary"
                    style="margin-right: 10px">
                    ATUALIZAR
                </a>
                <!-- alterar para função de deleção -->
                <a href="../../"
                    class="btn btn-primary">
                    DELETAR
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Companhia aérea
                        </h5>
                        <p class="card-text">
                            {{voo.companhia_aerea}}
                        </p>
                    </div>
                </div>
            </div>

            <!-- TODO: ARRUMAR -->
            <!-- <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Número/código do voo de partida
                        </h5>
                        <p class="card-text">
                            {{voo.codigo_partida}}
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- TODO: ARRUMAR -->
            <!-- <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Número/código do voo de chegada
                        </h5>
                        <p class="card-text">
                            {{voo.codigo_chegada}}
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rota
                        </h5>
                        <p class="card-text">
                            {{voo.rota.id}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Local de Partida
                        </h5>
                        <p class="card-text">
                            {{voo.rota.aeroporto_partida}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Local de Destino
                        </h5>
                        <p class="card-text">
                            {{voo.rota.aeroporto_chegada}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Previsão de sua saída/partida e chegada
                        </h5>
                        <p class="card-text">
                            Partida: {{voo.partida_prevista}}
                        </p>
                        <p class="card-text">
                            Chegada: {{voo.chegada_prevista}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>